@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateImg {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes scaleDraw {
    /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
        transform: scale(0.7);
        /*开始为原始大小*/
    }

    25% {
        transform: scale(1.1);
        /*放大1.1倍*/
    }

    50% {
        transform: scale(0.7);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.7);
    }
}

@keyframes shake {
    /* 抖动效果*/
    0% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(-10deg);
    }

    75% {
        transform: rotateZ(10deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/* header */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.head {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    line-height: 80px;
}

header .logo {
    float: left;
    margin: 20px;
}

header .menu {
    float: right;
    width: 55%;
}

header .menu ul.submenu {
    overflow: hidden;
    position: relative;
}

header .menu ul.submenu li {
    float: left;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    color: white;
    transition: all 1s;
}

header .menu ul.submenu li .before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 650ms;
    background: linear-gradient(120deg, transparent, rgba(251, 255, 0, 0.4), transparent);
}

header .menu ul.submenu li.active {
    background: black;
    color: white;
}

/* container */
ul.gird {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

ul.gird li {
    width: 100%;
    height: 100vh;
    position: relative;
}

ul.gird > li:nth-child(1) {
    background: url("./images/bg1.jpg") no-repeat;
    background-size: cover;
}

ul.gird > li:nth-child(2) {
    background: url("./images/bg2.jpg") no-repeat;
    background-size: cover;
}

ul.gird > li:nth-child(3) {
    background: url("./images/bg3.jpg") no-repeat;
    background-size: cover;
}

ul.gird > li:nth-child(4) {
    background: url("./images/yq.jpg") no-repeat;
    background-size: cover;
}

ul.gird > li:nth-child(5) {
    background: url("./images/hzxsl.jpg") no-repeat center;
    background-color: rgba(0, 0, 0, 0.5);
}

ul.gird li .box1,
ul.gird li .box2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -240px;
    transition: all 2s;
}

ul.gird li .box1 {
    left: 0;
}

ul.gird li .box2 {
    right: 0;
}

ul.gird li.active .box1 {
    left: 100px;
}

ul.gird li.active .box2 {
    right: 100px;
}

.Category {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
    z-index: 10;
}

.Category span {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.Category span.active {
    box-shadow: 0 0 10px 5px black;
    border: 5px solid black;
}

/* 首页图 */
ul.gird li .titlename {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    margin-top: -55px;
    transition: all 1s;
}

ul.gird li.active .titlename {
    transform: scale(1.2);
}

ul.gird li .titlename h1 {
    font-weight: bolder;
    font-size: 80px;
    color: white;
    text-transform: capitalize;
    text-shadow: 10px 10px 5px black;
    position: relative;
    left: 100px;
    animation: shake 0.2s 3;
}

ul.gird li .corner {
    position: absolute;
}

ul.gird li .corner1.corner {
    top: 100px;
    left: 100px;
}

ul.gird li .corner2.corner {
    bottom: 100px;
    left: 100px;
}

ul.gird li .corner3.corner {
    top: 100px;
    right: 100px;
}

ul.gird li .corner4.corner {
    bottom: 100px;
    right: 100px;
}

ul.gird li .downbutton {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid gray;
    overflow: hidden;
    cursor: pointer;
}

ul.gird li .downbutton .nextarrows {
    background: url("./images/following.png") no-repeat center;
    background-size: cover;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -32px;
    left: 50%;
    margin-left: -16px;
}

/* 第二张 */
ul.gird li:nth-child(2) a.vplay {
    animation: scaleDraw 5s ease-in-out infinite;
    position: absolute;
    top: 26vh;
    left: 47vw;
    width: 109px;
    height: 109px;
    background: url("./images/vplay.png") no-repeat center;
    background-size: 100%;
    display: block;
    z-index: 10;
}

ul.gird li:nth-child(2) .fourin1,
ul.gird li:nth-child(2) .fourin2 {
    width: 300px;
    height: 200px;
    background: white;
    position: absolute;
    bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    transition: transform 2s;
}

ul.gird li:nth-child(2) .fourin1 {
    left: 200px;
    transform: rotateZ(45deg);
}

ul.gird li:nth-child(2) .fourin2 {
    right: 200px;
    transform: rotateZ(-45deg);
}

ul.gird li:nth-child(2).active .fourin1,
ul.gird li:nth-child(2).active .fourin2 {
    transform: rotateZ(0);
}

ul.gird li:nth-child(2) .fourin1 ul.graph,
ul.gird li:nth-child(2) .fourin2 ul.graph {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

ul.gird li:nth-child(2) .fourin1 ul.graph {
    background: url("./images/lz1.jpg") no-repeat center left;
    background-size: 150%;
}

ul.gird li:nth-child(2) .fourin2 ul.graph {
    background: url("./images/lz2.jpg") no-repeat top right;
    background-size: 150%;
}

ul.gird li:nth-child(2) .fourin1 ul.graph li,
ul.gird li:nth-child(2) .fourin2 ul.graph li {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    background: chocolate;
    transition: all 0.5s;
}

/* 龙珠四合一 图一 */
ul.gird li:nth-child(2) .fourin1 ul.graph li.one,
ul.gird li:nth-child(2) .fourin1 ul.graph li.two,
ul.gird li:nth-child(2) .fourin1 ul.graph li.three,
ul.gird li:nth-child(2) .fourin1 ul.graph li.four {
    background: url("./images/lz3.jpeg") no-repeat;
    background-size: 250%;
}

ul.gird li:nth-child(2) .fourin1 ul.graph li.one {
    background-position: -45px 0;
    top: -50%;
}

ul.gird li:nth-child(2) .fourin1 ul.graph li.two {
    background-position: -189px 0;
    right: -50%;
}

ul.gird li:nth-child(2) .fourin1 ul.graph li.three {
    background-position: -45px -95px;
    left: -50%;
}

ul.gird li:nth-child(2) .fourin1 ul.graph li.four {
    background-position: -189px -95px;
    bottom: -50%;
}

/* 龙珠四合一 图二 */
ul.gird li:nth-child(2) .fourin2 ul.graph li.one,
ul.gird li:nth-child(2) .fourin2 ul.graph li.two,
ul.gird li:nth-child(2) .fourin2 ul.graph li.three,
ul.gird li:nth-child(2) .fourin2 ul.graph li.four {
    background: url("./images/lz4.jpg") no-repeat;
    background-size: 250%;
}

ul.gird li:nth-child(2) .fourin2 ul.graph li.one {
    background-position: -45px 0;
    top: -50%;
}

ul.gird li:nth-child(2) .fourin2 ul.graph li.two {
    background-position: -189px 0;
    right: -50%;
}

ul.gird li:nth-child(2) .fourin2 ul.graph li.three {
    background-position: -45px -95px;
    left: -50%;
}

ul.gird li:nth-child(2) .fourin2 ul.graph li.four {
    background-position: -189px -95px;
    bottom: -50%;
}

/* 第三页 */

/* 螺旋丸 */
ul.gird li:nth-child(3) .vplay-warpper {
    width: 163px;
    height: 163px;
    top: 55vh;
    left: 1050px;
    position: absolute;
    transition: all 3s;
    transform: scale(0);
}

ul.gird li:nth-child(3).active .vplay-warpper {
    transform: scale(1);
}

ul.gird li:nth-child(3) .vplay-warpper a.vplay {
    position: absolute;
    top: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 109px;
    height: 109px;
    border-radius: 50%;
    background: url("./images/lxw.jpg") no-repeat center;
    background-size: 500%;
    display: block;
    z-index: 10;
    perspective-origin: center;
}

ul.gird li:nth-child(3) .vplay-warpper .lights {
    animation: rotateImg 1.5s linear infinite;
    position: absolute;
    width: 163px;
    height: 163px;
    background: url("./images/light.png") no-repeat center;
    background-size: 100%;
    display: block;
}

/* LOGO */
ul.gird > li:nth-child(3) .box1,
ul.gird > li:nth-child(3) .box2 {
    width: 120px;
    height: 528px;
    /* background: yellow; */
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo,
ul.gird > li:nth-child(3) .box2 ul.courseLogo {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li,
ul.gird > li:nth-child(3) .box2 ul.courseLogo li {
    width: 100%;
    height: 25%;
    float: left;
    /* border: 1px solid red; */
    position: relative;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li .coursebefore,
ul.gird > li:nth-child(3) .box2 ul.courseLogo li .coursebefore {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    perspective: 100;
    transform-style: preserve-3d;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li .courseafter,
ul.gird > li:nth-child(3) .box2 ul.courseLogo li .courseafter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 130px;
    color: white;
    font-size: 20px;
    /* visibility: hidden; */
    transform: rotateY(-90deg);
    transition: all 0.5s;
    perspective: 100;
    transform-style: preserve-3d;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:hover .courseafter,
ul.gird > li:nth-child(3) .box2 ul.courseLogo li:hover .courseafter {
    transform: rotateY(0);
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:hover .coursebefore,
ul.gird > li:nth-child(3) .box2 ul.courseLogo li:hover .coursebefore {
    transform: rotateY(90deg);
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:nth-child(1) .coursebefore {
    background: url("./images/ea.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:nth-child(2) .coursebefore {
    background: url("./images/ps4.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:nth-child(3) .coursebefore {
    background: url("./images/blizzard.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box1 ul.courseLogo li:nth-child(4) .coursebefore {
    background: url("./images/sony.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box2 ul.courseLogo li:nth-child(1) .coursebefore {
    background: url("./images/steam.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box2 ul.courseLogo li:nth-child(2) .coursebefore {
    background: url("./images/tencent.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box2 ul.courseLogo li:nth-child(3) .coursebefore {
    background: url("./images/ubisoft.png") no-repeat center;
}

ul.gird > li:nth-child(3) .box2 ul.courseLogo li:nth-child(4) .coursebefore {
    background: url("./images/xbox.png") no-repeat center;
}

/* 第四张 */
ul.gird > li:nth-child(4) .worksmark {
    width: 80%;
    /* background: chartreuse; */
    margin: 0 auto;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li {
    height: 100%;
    width: 23.5%;
    margin: 0 2px;
    background: chocolate;
    float: left;
    transition: all 0.5s;
    cursor: pointer;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li.first {
    background: url("./images/sp1.jpg") no-repeat;
    background-size: 100%;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li.second {
    background: url("./images/sp2.jpg") no-repeat;
    background-size: 100%;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li.third {
    background: url("./images/sp3.jpg") no-repeat;
    background-size: 100%;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li.forth {
    width: 27.5%;
    background: url("./images/sp4.jpg") no-repeat;
    background-size: 100%;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li span {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    transition: all 0.5s;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li.change {
    background-size: 120%;
    background-position: top;
    animation: shake 0.3s;
}

ul.gird > li:nth-child(4) .worksmark ul.markfour li span div {
    width: 32px;
    height: 34px;
    background: url("./images/zoomico.png") no-repeat top;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -16px;
    transition: all 0.5s;
}

/* 第五张 */
ul.gird > li:nth-child(5) ul.content {
    width: 64%;
    height: 95.5%;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

ul.gird > li:nth-child(5) ul.content li {
    width: 25%;
    height: 50%;
    float: left;
    transition: all 0.3s;
    cursor: pointer;
    /* border: 1px solid red; */
}

ul.gird > li:nth-child(5) ul.content li.mask {
    background: rgba(0, 0, 0, 0.6);
}

ul.gird > li:nth-child(5) ul.content li.mouseon {
    border: 5px solid white;
}

ul.gird > li:nth-child(5) .mask-lg {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
}

ul.gird > li:nth-child(5) span {
    /* border: 2px solid white;
            border-radius: 10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 310px;
            height: 430px;
            margin: -215px -155px; */
    width: 460px;
    height: 645px;
    margin: -322.5px -232px;
    z-index: 100;
    background: url("./images/hzxsl.jpg") no-repeat;
    background-size: 395%;
    background-position-x: 0px;
    background-position-y: 0px;
    display: none;
}
