.wrap() {
    width: 1140px;
    margin: 0 auto;
}
.clear() {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
//js进场动态
.on() {
    // background: black;
    position: relative;
    top: 0;
    left: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

header {
    background: url("./images/banner.jpg") no-repeat top center;
    background-size: cover;
    padding-top: 30px;
    .nav {
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        // .wrap;
        line-height: 60px;

        ul.menu {
            box-sizing: border-box;
                li {
                    float: left;
                    text-align: center;
                    margin-left: 20px;
                    text-transform: capitalize;
                    &::after {
                        content: "/";
                        color: white;
                        margin-left: 20px;
                    }
                    &:last-child {
                        &::after {
                            content: "";
                        }
                    }
                    &:first-child a {
                        color: yellow;
                        border-top: 4px solid yellow;
                    }
                    
                }
                a {
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s;

                    &:hover {
                        color: yellow;
                        border-top: 4px solid yellow;
                    }
                }
        }
        form {
            position: relative;
            // float: right;
            label {
                position: relative;
                input {
                    &::placeholder {
                        color: white;
                    }
                    &:first-child {
                        padding: 6px 10px;
                        color: white;
                        background: transparent;
                        outline: none;
                        border: 1px solid white;
                        height: 40px;
                    }
                    &:last-child {
                        width: 22px;
                        height: 22px;
                        border: 0;
                        background: url("./images/search.png") no-repeat center;
                        text-indent: 10em;
                        position: absolute;
                        top: 20px;
                        right: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .banner {
        margin: 150px auto;
        // width: 300px;
        transition: all 1s;
        transform: scale(0);
        &.active {
            transform: scale(1.3);
        }
        h1 {
            color: white;
            font-size: 48px;
            line-height: 1.5em;
            border-top: 4px solid white;
            border-bottom: 4px solid white;
            font-weight: bold;
        }
    }

    ul.gird {
        // .wrap;
        // overflow: hidden;
        .clear();
        position: relative;
        top: 120px;
        left: 0;
        li {
            // width: 25%;
            float: left;
            text-align: center;
            transition: all 1s;
            position: relative;
            &:first-child {
                left: -500px;
                &.active {
                    left: 0;
                }
            }
            &:nth-child(2) {
                top: -300px;
                &.active {
                    top: 0;
                }
            }
            &:nth-child(3) {
                top: 300px;
                &.active {
                    top: 0;
                }
            }
            &:last-child {
                left: 500px;
                &.active {
                    left: 0;
                }
            }

            .card {
                margin: 0 15px;
                background: #16a667;
                padding: 30px 15px;
                transition: all 1.5s;

                img {
                    border-radius: 50%;
                    border: 8px solid white;
                    padding: 15px;

                    &:hover {
                        transform: rotateY(360deg);
                        transition: all 0.5s;
                    }
                }
                h3 {
                    font-size: 18px;
                    color: white;
                    font-weight: bold;
                    line-height: 2em;
                }
                p {
                    font-size: 14px;
                    color: white;
                    line-height: 1.5em;
                }
            }
        }
    }
}
section.about {
    background: lightgray;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 40px;
    h3 {
        .wrap;
        font-size: 35px;
        font-weight: bolder;
        line-height: 2.5em;
    }
    .content {
        // .wrap;

        img {
            float: left;
            // margin-right: 30px;
            transition: all 1s;
            position: relative;
            left: 1500px;
            &.active {
                left: 0;
            }
        }
        p {
            line-height: 1.5em;
            margin-top : 15px;
            position: relative;
            transition: all 1s;
            left: -1500px;
            &.active {
                left: 0;
            }
        }
    }
}
section.services {
    background: #37353b;
    padding-bottom: 50px;
    h1 {
        .wrap;
        font-size: 35px;
        color: white;
        font-weight: bolder;
        line-height: 4em;
    }
    ul.gird {
        // .wrap;
        overflow: hidden;
        color: white;
        li {
            // width: 33%;
            float: left;
            text-align: center;
            transition: all 1.5s;
            position: relative;
            &:first-child {
                left: -500px;
                &.active {
                    left: 0;
                }
            }
            &:nth-child(2) {
                top: -400px;
                &.active {
                    top: 0;
                }
            }
            &:last-child {
                left: 500px;
                &.active {
                    left: 0;
                }
            }

            .card {
                margin: 0 15px;
                padding: 0 10px;
                img {
                    background: #16a667;
                    border-radius: 10px;
                    width: 90px;
                    height: 90px;
                    &:hover {
                        background: orange;
                    }
                }
                h3 {
                    font-size: 18px;
                    line-height: 2.5em;
                    font-weight: bold;
                }
                p {
                    color: gray;
                }
            }
        }
    }
}
section.works {
    background: lightgray;
    padding-bottom: 50px;

    h3 {
        .wrap;
        font-size: 35px;
        font-weight: bolder;
        line-height: 3.5em;
    }
    ul.gird {
        // .wrap;
        .clear;
        //overflow: hidden;
        li {
            padding: 0;
            // width: 25%;
            float: left;
            position: relative;
            &:hover {
                &::after {
                    transform: scale(1);
                }
            }
            &::after {
                content: "";
                background: url("./images/magnify.png") no-repeat center rgba(0, 0, 0, 0.5);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: scale(0);
                transition: all 0.5s;
                box-shadow: 0 0 10px 0 white;
                z-index: 1;
            }
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}
section.news {
    padding-bottom: 50px;
    h3 {
        font-size: 35px;
        font-weight: bolder;
        line-height: 3.5em;
        .wrap;
    }
    ul.grid {
        // .wrap;
        overflow: hidden;
        li {
            float: left;
            // width: 33%;
            text-align: left;
            position: relative;
            transition: all 2s;
            &:first-child {
                left: -500px;
                &.active {
                    left: 0;
                }
            }
            &:nth-child(2) {
                opacity: 0;
                &.active {
                    opacity: 1;
                }
            }
            &:last-child {
                left: 500px;
                &.active {
                    left: 0;
                }
            }
            .card {
                margin: 15px 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
                h5 {
                    font-size: 18px;
                    line-height: 2.5em;
                    font-weight: bolder;
                    cursor: pointer;
                }
                p {
                    color: gray;
                    line-height: 1.5em;
                    margin: 10px 10px;
                    a {
                        text-decoration: none;
                        &:hover {
                            color: blue;
                            text-decoration: underline;
                        }
                    }
                }
                .button {
                    width: 120px;
                    height: 40px;
                    background: orange;
                    text-align: center;
                    line-height: 40px;
                    font-weight: bold;
                    text-transform: capitalize;
                    position: relative;
                    cursor: pointer;
                    &:hover {
                        &::after {
                            transition: all 0.5s;
                            transform: rotateX(90deg);
                        }
                    }
                    b {
                        z-index: 9;
                        position: relative;
                    }
                    &::after {
                        content: "";
                        background: #16a667;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
.footer {
    .contain {
        padding-top: 30px;
        padding-bottom: 50px;
        background: #37353b;
        ul.gird {
            // .wrap;
            overflow: hidden;
            li.part {
                float: left;
                // width: 33%;
                transition: all 1.5s;
                position: relative;
                &:first-child {
                    left: -500px;
                    &.active {
                        left: 0;
                    }
                }
                &:nth-child(2) {
                    opacity: 0;
                    &.active {
                        opacity: 1;
                    }
                }
                &:last-child {
                    left: 500px;
                    &.active {
                        left: 0;
                    }
                }
                .events {
                    h3 {
                        color: white;
                        font-size: 35px;
                        font-weight: bold;
                        line-height: 3em;
                    }
                    .namecard {
                        overflow: hidden;
                        margin-top: 15px;
                        img {
                            float: left;
                            margin-right: 10px;
                            width: 100px;
                            height: 100px;
                            background-position: center;
                        }
                        h5 {
                            font-size: 18px;
                            font-weight: bold;
                            color: white;
                            line-height: 2em;
                        }
                        p {
                            color: gray;
                            line-height: 2em;
                            font-size: 14px;
                        }
                    }
                }
            }
            ul.catagories {
                h3 {
                    color: white;
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 3em;
                }
                li {
                    list-style: url(./images/list-arrow.png);
                    color: gray;
                    line-height: 3em;
                    cursor: pointer;
                    &:hover {
                        color: orange;
                    }
                }
            }
            .contact {
                h3 {
                    color: white;
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 3em;
                }
                li {
                    overflow: hidden;
                    margin-top: 30px;
                    img {
                        float: left;
                        width: 48px;
                        height: 50px;
                        margin-right: 10px;

                        background: url(./images/img-sprite1.png) no-repeat;
                        background-position-x: -220px;
                    }
                    &:nth-child(2) img {
                        background-position-x: -255px;
                    }
                    &:nth-child(3) img {
                        background-position-x: -298px;
                    }
                    p {
                        margin-bottom: 10px;
                        color: gray;
                    }
                }
            }
        }
        .copyright {
            text-align: center;
            padding-bottom: 50px;
            position: relative;
            transition: all 1.5s;
            top: 50px;
            &.active {
                left: 0;
            }
            p {
                font-size: 18px;
                color: #fff;
                b {
                    font-size: 22px;
                }
            }
        }
    }

    .end {
        padding-top: 50px;
        font-size: 0;

        ul.logo {
            margin: 0 auto;
            text-align: center;
            transition: all 1s;
            opacity: 0;
            &.active {
                opacity: 1;
            }

            li {
                background: url(./images/img-sprite1.png) no-repeat;
                width: 55px;
                height: 55px;
                display: inline-block;
                margin: 0 5px;
                &:nth-child(2) {
                    background-position-x: -110px;
                }
                &:nth-child(3) {
                    background-position-x: -165px;
                }
                &::nth-child(4) {
                    background-position-x: -220px;
                }
            }
        }
        .menu {
            text-align: center;
            margin: 30px 0;
            .menu.ul{
                height: 50px;
              li {
                display: inline-block;
                text-align: center;
                text-transform: capitalize;
                height: 100%;
                color: black;

                a {
                    // text-decoration: none;
                    font-size: 12px;
                }
            }
            }
        }

        
    }
    a {
        width: 50px;
        height: 26px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background: url("./images/to-top2.png") no-repeat center;
    }
}
