html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.stage {
  width: 200%;
  height: 100%;
  margin-left: 0%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.stage .game-start {
  width: 50%;
  height: 100%;
  float: left;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center 0px;
  background-repeat: repeat-y;
  position: relative;
  background-image: url("../images/background-start.png");
}
.stage .game-start button.start {
  position: absolute;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  line-height: 30px;
  background: #c4c9ca;
  outline: none;
  border: 1px solid black;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  display: block;
  bottom: 100px;
}
.stage .game {
  width: 50%;
  height: 100%;
  float: left;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center 0px;
  background-repeat: repeat-y;
  position: relative;
  background-image: url("../images/background-game.png");
}
.stage .game img {
  position: absolute;
}
.stage .game .score {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.stage .game .score span {
  display: none;
  margin: 20px;
}
.stage .game .score span:nth-child(1) {
  float: left;
}
.stage .game .score span:nth-child(2) {
  border: 2px solid #333333;
  padding: 1px;
  float: right;
}
.stage .game .ranking {
  width: 60%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 9;
}
.stage .game .ranking table {
  border-collapse: collapse;
  width: 100%;
  background: #c3c8c9;
}
.stage .game .ranking table td,
.stage .game .ranking table th {
  border: 1px solid black;
  text-align: center;
  line-height: 24px;
}
.stage .game .continue {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  opacity: 0;
  border: 1px solid #333333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.stage .game .dead {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100px;
}
.stage .game .dead button {
  position: absolute;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  line-height: 30px;
  background: #c4c9ca;
  outline: none;
  border: 1px solid black;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  display: block;
  position: static;
  margin: 10px auto;
  z-index: 9;
  background: #c3c8c9;
}
@media (min-width: 768px) {
  .stage .game .dead button:first-child {
    display: none;
  }
}
/*# sourceMappingURL=./style.css.map */