html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}
// 所有场景
.scene() {
	width: 50%;
	height: 100%;
	float: left;
	background-size: cover;
	background-position: center 0px;
	background-repeat: repeat-y;
	position: relative;
	// 内部子元素需要基于所在场景定位
}
.button() {
	position: absolute;
	left: 50%;
	width: 120px;
	margin-left: -60px;
	line-height: 30px;
	background: #c4c9ca;
	outline: none;
	border: 1px solid black;
	border-radius: 30px;
	display: block;
}

// 舞台
.stage {
	width: 200%;
	height: 100%;
	background: red;
	margin-left: 0%;
	transition: all 0.3s;
	// 游戏开始场景
	.game-start {
		.scene;
		background-image: url("../images/background-start.png");

		button.start {
			.button;
			bottom: 100px;
		}
	}
	// 游戏主体场景
	.game {
		.scene;
		background-image: url("../images/background-game.png");
		img {
			position: absolute;
		}
		.score {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			span {
				display: none;
				margin: 20px;
				&:nth-child(1) {
					float: left;
				}
				&:nth-child(2) {
					float: right;
				}
			}
		}
		.ranking {
			width: 60%;
			margin: 0 auto;
			border-radius: 5px;
			border: 1px solid black;
			transition: all 0.3s;
			// padding: 15px;
			position: relative;
			z-index: 9;
			table {
				border-collapse: collapse;
				width: 100%;
				background: #c3c8c9;
				td,
				th {
					border: 1px solid black;
					text-align: center;
					line-height: 24px;
				}
			}
		}

		.dead {
			transition: all 0.3s;
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -100px;
			
			button {
				.button;
				position: static;
				margin: 10px auto;
				z-index: 9;
				background: #c3c8c9;
			}
		}
	}
}
